{% extends 'base.html' %}
{% block content %}
<div class="uk-background-muted uk-padding-small">
  <h2 class="uk-card-title">Add New Student</h2>
<div class="uk-container uk-flex uk-flex-center uk-flex-middle">
    <form class="uk-form-stacked uk-width-1-2@m uk-width-1-1" method="post">
        {% csrf_token %}
        <div class="uk-margin">
            <div class="uk-form-controls">
                <input class="uk-input" type="text" placeholder="Name" required name="name" id="student-name">
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-form-controls">
                <input class="uk-input" type="date" required name="birthday" id="birthday" placeholder="Birthday">
            </div>
        </div>
        <div class="uk-margin">
            <button class="uk-button uk-button-primary" type="submit">Add Student</button>
        </div>
    </form>
</div>
</div>
{% endblock %}