{% extends 'base.html' %}

{% block content %}
  <h2>Attendance Form</h2>
  <form method="post" hx-post="{% url 'attendance_form' %}">
    {% csrf_token %}
    <label for="date">Date:</label>
    <input type="date" name="date" required><br><br>
    <h3>Students:</h3>
    <ul>
      {% for student in students %}
        <li>
          <input type="checkbox" name="students" value="{{ student.id }}" id="student_{{ student.id }}">
          <label for="student_{{ student.id }}">{{ student.name }}</label>
        </li>
      {% endfor %}
    </ul>
    <button type="submit" hx-trigger="click">Save Attendance</button>
  </form>
{% endblock %}
