{% extends 'base.html' %}

{% block content %}
  <form method="post" hx-post="{% url 'attendance_form' %}">
    {% csrf_token %}
    <div class="uk-margin">
      <label class="uk-form-label" for="date">Date:</label>
      <div class="uk-form-controls">
          <input class="uk-input uk-form-width-medium" type="date" name="date" required>
      </div>
  </div>  
    <table class="uk-table">
      <thead>
          <tr>
              <th>Name</th>
              <th>Attendance</th>
          </tr>
      </thead>
      <tbody>
        {% for student in students %}
          <tr>
              <td for="student_{{ student.id }}">{{ student.name }}</td>
              <td><input type="checkbox" name="students" value="{{ student.id }}" id="student_{{ student.id }}"></td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
    <button type="submit" hx-trigger="click" class="uk-button uk-button-primary">Save Attendance</button>
  </form>
{% endblock %}
