<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Attendance APP{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.16.26/css/uikit.min.css" integrity="sha512-2v7hIBFNpNAvfcIGzIqsRb8FLQ57PXOWOkrPFBIbNrUhQYkiK+YVfOTjUWyc4loKhqr4AZ2iePTwpPCv4uYSZQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.16.26/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.16.26/js/uikit-icons.min.js"></script>
</head>
<body>
<div>
    <button class="uk-button uk-button-default uk-float-right" type="button" uk-icon="icon: menu"></button>
    <div uk-dropdown="animation: slide-top; animate-out: true; duration: 700">
        <ul class="uk-nav uk-dropdown-nav">
            <li><a href="{% url 'add_student' %}">Add New Student</a></li>
            <li><a href="{% url 'attendance_form' %}">Register Attendance</a></li>
            <li><a href="{% url 'filter_attendance' %}">Show Attendance</a></li>
        </ul>
    </div>
</div>
<div class="uk-container uk-text-center uk-clearfix uk-padding-small" style="clear: both;">
    <h1>{% block header %}Welcome to Attendance APP{% endblock %}</h1>
</div>
<div class="uk-container uk-text-center uk-width-3-5@m uk-width-3-5@l">

    <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
